<header class="home hero">
     <nav class="navbar navbar-default" sticky-header="" offset="300">
          <div class="container">
               <div class="top-menu">
                    <a id="logo" href="https://bindtuning.com" class="pull-left">BindTuning</a>
                    <i class="fa fa-bars fa-2x BT-OpenSideBar" aria-hidden="true"></i>
                    <a id="offcanvasClass" data-href="#" class="btn navbar-toggle offcanvas-toggle selected"
                         aria-expanded="true">Menu</a>
                    <div id="sidebar-wrapper" class="">
                         <a class="btn-close close-sidebar"></a>
                         <div class="sidebar-nav">
                              <ul id="top-menu" class="BT-primary-nav pull-right list-inline text-center is-fixed">
                                   <li class="BT-menu-base has-children dropdown"><a href="#" class="dropdown-toggle menu-item"
                                             id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                             aria-expanded="false">Products<i class="ion-arrow-up-b"></i></a>
                                        <ul class="dropdown-menu mega-menu is-hidden" aria-labelledby="dropdownMenu1">
                                             <li><a href="https://bindtuning.com/themes"><i class="bt bt-tesktop text-blue"></i><span
                                                            class="menu-item-title">Themes</span>
                                                       <p>Hand-crafted themes refresh the look of your intranet.</p><span
                                                            class="animated-border"></span>
                                                  </a></li>
                                             <li><a href="https://bindtuning.com/webparts"><i class="bt bt-aws text-carrot"></i><span
                                                            class="menu-item-title">Web
                                                            Parts</span>
                                                       <p>Transform a static site into a dynamic experience.</p><span
                                                            class="animated-border"></span>
                                                  </a></li>
                                             <li><a href="https://bindtuning.com/clutch"><i class="bt bt-drag-right text-fuchsia"></i><span
                                                            class="menu-item-title">Clutch</span>
                                                       <p>Accelerate the delivery of your digital workspace. No coding.</p><span
                                                            class="animated-border"></span>
                                                  </a></li>
                                        </ul>
                                   </li>
                                   <li class="BT-menu-base"><a class="menu-item" href="https://bindtuning.com/pricing">Pricing</a></li>
                                   <li class="BT-menu-base has-children dropdown"><a href="https://bindtuning.com/resources"
                                             class="dropdown-toggle menu-item" id="dropdownMenu3" data-toggle="dropdown"
                                             aria-haspopup="true" aria-expanded="false">Resources<i class="ion-arrow-up-b"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right is-hidden menu-account"
                                             aria-labelledby="dropdownMenu3">
                                             <li><a href="https://bindtuning.com/resources/blog"><span class="menu-item-title">Blog</span></a></li>
                                             <li><a href="https://bindtuning.com/resources/case-study"><span class="menu-item-title">Case
                                                            Studies</span></a></li>
                                             <li><a href="https://bindtuning.com/resources/event"><span class="menu-item-title">Events</span></a></li>
                                             <li><a href="https://bindtuning.com/resources/press-release"><span class="menu-item-title">Press
                                                            Releases</span></a></li>
                                             <li><a href="https://bindtuning.com/resources/session"><span class="menu-item-title">Webinars</span></a></li>
                                        </ul>
                                   </li>
                                   <li class="BT-menu-base"><a class="menu-item" href="https://support.bindtuning.com"
                                             target="_blank" rel="noopener">Support</a></li>
                                   <li class="BT-menu-base">
                                        <a class="menu-item" href="https://bindtuning.com/login?ReturnUrl=/" id="loginButton">Login</a>
                                   </li>

                                   <li class="BT-menu-base get-started">
                                        <a class="menu-item btn btn-carrot" href="https://bindtuning.com/tryitnow">Try
                                             it now</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </nav>
</header>